<ion-view view-title="Cuaca Indonesia, {{tanggal | date: 'd MMM y'}}">
  <ion-content class="padding">
    <div class="list">
      <a class="item item-thumbnail-left" href="#" ng-repeat="d in dataCuaca">
        <img ng-src="{{url}}{{d.cuaca}}.gif">
        <h2>{{d.kota}}</h2>
        <p>Cuaca               : {{d.cuaca}}</p>
        <p>Suhu Minimal        : {{d.suhu_min}}&deg</p>
        <p>Suhu Maksimal       : {{d.suhu_max}}&deg</p>
        <p>Kelembapan Minimal  : {{d.kelembapan_min}}&deg</p>
        <p>Kelembapan Maksimal : {{d.kelembapan_max}}&deg</p>
      </a>
    </div>
  </ion-content>
</ion-view>
