<ion-view view-title="Gempa Indonesia {{dataGempa.Tanggal}}">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <ng-map zoom="6" center="[{{latitude}},{{longitude}}]">
          <marker position="[{{latitude}},{{longitude}}]" title="{{dataGempa.Wilayah}}" animation="Animation.BOUNCE"></marker>
        </ng-map>
      </div>
      <div class="item item-divider">
        <h2>{{dataGempa.Wilayah}}</h2>
        <p>Tanggal Dan Jam : {{dataGempa.Tanggal}},{{dataGempa.Jam}}</p>
        <p>Lat & Long : {{dataGempa.point.coordinates}}</p>
        <p>Lintang & Bujur : {{dataGempa.Lintang}}, {{dataGempa.Bujur}}</p>
        <p>Magnitude : {{dataGempa.Magnitude}}</p>
        <p>Kedalaman : {{dataGempa.Kedalaman}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
